

aside{
	width: 50%;
	background-color: #558c0b;
	color: # 0c510b;
	float: right;
	
	margin-top: -120px;
	height: 180px;
	padding: 30px;
}

body {
 
  font-family:verdana;

	background-color :f9f9f9	;
}

.container {
  
  max-width: 2000px;
  margin:  auto;

}



header {
  background-color: #0C510B;
  color: #fff;
  padding: 10px;
}


.hero {
  background-color: #39823B;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.content {
	
  background-color: #8DF76A;
  margin: 10px;
  padding: 50px;
  
  
}

